@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #151515;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.app {
  max-width: 430px;
  height: 100dvh;
  padding: 16px;
  background-color: white;
}
.ui-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-container {
  width: 375px;
  /* width: 343px; */
  height: 391px;
  padding-left: 16px;
  padding-right: 16px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  background-color: black;
  color: white;
}
.welcome-header-box {
  width: 343px;
  height: 60px;
  padding: 13px 12px 13px 10px;
  gap: 214px;
  text-align: center;
}
.welcome-header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-avatar {
  width: 48px;
  height: 48px;
  gap: 0px;
  border-radius: 100px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  text-align: center;
}

.welcome-hamburger {
  width: 48px;
  height: 48px;
  padding: 12px 0px 0px 0px;
  gap: 0px;
}

.welcome-user {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  margin-bottom: 8px;
}

.welcome-user-question {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  margin-bottom: 48px;
}
.welcome-recent-documents {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding-bottom: 24px;
}

.recent-document-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 343px;
  margin: 0 auto;
  height: 212px;
  gap: 20px;
  color: black;
}

.recent-document-img-box-item-img-and-box {
  width: 162px;
  height: 212px;
  padding: 28px 0px 28px 0px;
  /* gap: 10px; */
  border: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
}

.recent-document-img-box-img-wrapper {
  height: 139px;
  
}
.recent-document-img-box-number {
  width: 160px;
  height: 72px;
  padding: 16px 8px 16px 8px;
  /* gap: 16px; */
  background-color: #CDCDCD;
  color:#444444;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.recent-document-img-box-item-number-date {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
  align-self: flex-end;
  
}

.recent-document-img-box-item-number-value {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: right;
  
}
.current-month-container {
  margin-top: 48px;
  background-color: aqua;
}

.current-month-container-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-month-container-item-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.current-month-container-item-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-month-container-card {
  width: 343px;
  height: 192px;
  padding: 24px 0px 0px 0px;
  gap: 16px;
  border: 1px solid black;
  margin-bottom: 48px;
}

.current-month-container-card-items-1,
.current-month-container-card-items-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-month-container-card-items-month {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}
.current-month-container-card-items-icon-with-number-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 120px;
  height: 64px;
  top: 24px;
  left: 200px;
  padding: 16px 24px 16px 24px;
  gap: 16px;
  border-radius: 180px 0px 0px 0px;
}

.current-month-container-card-items-spends {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.current-month-container-card-items-spends-sum {
  width: 173px;
  height: 64px;
  padding: 16px 24px 16px 24px;
  gap: 10px;
  border-radius: 40px;
  text-align: center;

  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-all-expenses-title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-bottom: 24px;
}
