@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #151515;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.app {
  max-width: 430px;
  height: 100dvh;
  padding: 16px;
  background-color: white;
}
