/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
} */

.grey-color {
  color: #444;
}

.grey-dark-color {
  color: #181819;
}

.grey-light-color {
  color: #cdcdcd;
}

.neutral-color {
  color: #fafafa;
}

.blue-color {
  color: #0647ee;
}

.bg-blue-color {
  background-color: #97dffc;
}

.bg-grey-light {
  background-color: #cdcdcd;
}

.bg-purple-color {
  background-color: #2c0735;
}

.round-button {
  border-radius: 50%;
  background-color: #cdcdcd;
}

.test {
  border: 1px solid pink;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
