@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  background-color: inherit;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
